
<h1>Burgers!</h1>

<img src="/public/assets/image/cartoon_burger.png" id="cartoon_burger" alt="cartoon burger">

<h2>Burgers that need to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger:</label>
    <br>
    <input type="text" id="bu" name="burgerName">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devour" value="1"> Devoured!<br>
    <input type="radio" name="devour" value="0"> Waiting to be Devoured...
  </div>

  <button type="submit">Add Burger</button>
</form>


 

